*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-image: linear-gradient(to bottom right,rgba(255, 0, 0, 0.075),rgba(255, 255, 255, 0.384));
    background-repeat: no-repeat;
    min-height: 100rem;
}
section{
    background: rgb(250, 211, 37);
    min-height: 10rem;
    width: 25%;
    color: black;
    box-shadow: 0.1rem 0.1rem 0.1rem grey;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
ul{
    list-style-type: none;
    text-align: center;
}
li{
    margin-bottom: 0.3rem;
    background: rgba(196, 243, 28, 0.836);
    width: 80%;
    font-size: 0.9rem;
    margin-left: auto;
    margin-right: auto;
}

/*PSEUDO CLASES*/

li:hover{
    font-size: 1.2rem;
    cursor: pointer;
    background:skyblue;
}