doctype html
html
    head
        title Portal Supervisores
        link(rel='stylesheet',href="/PortalSupervisores/portalsupervisores.css")

    body
        center
            span(style={color:"black","font-size":'2rem'}) BIENVENIDO ESTIMADO NOMBRE USUARIO
        br
        br
        section
            span(style={color:"black","font-size":'1.2rem'}) Mercaderistas
            br
            br
            ul
                li Total
                each item in objetoMercaderistas
                    a(href="/PortalSupervisores/"+item.identificador)
                        li(id=item.identificador,class="mercaderista")=item.nombre
        
        canvas#GraficoGeneral(style={width:"400",height:"400"})

        script.
            var completados=#{cantColmados}

        script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js")
        script(src="/PortalSupervisores/js.js")

